<h1>Altura de Maré</h1>
<%- content_for(:head) do -%>
  <%= javascript_include_tag 'flot/jquery' %>
  <%= javascript_include_tag 'flot/jquery.flot' %>
  <%= javascript_include_tag 'ondulacao_flot.js' %>
<%- end -%>
<script type="text/javascript"> 
  var grafico = <%= @dados.to_json.html_safe %>
  var url_arquivos = "<%= url_for action: 'ondulacao_flot_files', controller: 'graficos'%>"
</script>
<input type="button" id="btnDialogArquivos" value="Arquivos"/>
<div id="chart"></div>
