<!DOCTYPE html>
<html>
<head>
  <title>Chart</title>
  <%= stylesheet_link_tag :all %>
  <%#<%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <%= javascript_include_tag 'flot/jquery' %>
  <%= javascript_include_tag 'flot/jquery.flot' %>
</head>
<body>

<%= yield %>

</body>
</html>
